/*nav section*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.pop {
    padding-left: 25px;
    text-align: center;
}

.pop1 {
    padding-left: 40px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    border-bottom: 3px solid rgb(168, 43, 43);
    text-decoration: none;
    border-radius: 4px;
    color: brown;
    padding: 5px;
}
/* fetures section*/
.ft {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
}
/** collection section*/
.img-responsive {
    width: 100%;
    height: 200px;
}

.cl_img {
    border-radius: 10px;
}

.cl_img:hover {
    transform: scale(1.1);
    border: 5px solid rgb(168, 43, 43);
}

.bt {
    background-color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/****** product slider section */
h2 {
	color: #000;
	font-size: 26px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color:rgb(165, 42, 42);
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .carousel-item {
	min-height: 330px;
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel-slid .carousel-item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .carousel-item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .carousel-item .btn {
	color: #333;
	border-radius: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-top: 5px;
	line-height: 16px;
}
.carousel .carousel-item .btn:hover, .carousel .carousel-item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel-control-prev, .carousel-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2);
}
.carousel-control-prev  i, .carousel-control-next  i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price s {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}	
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
/* footer*/
.scl_img
{
	padding-bottom: 30px;
	padding-left: 40px;
}
.scl_img a:hover{
	color: brown;
	border: none;
}

.icon-hover {
	cursor: pointer;
}
